@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/popup.css);

.body{
  background-color: black;
}

.container{
  /* border: 1px solid red; */
  display: block;
  margin: 0 auto;
  max-width: 600px;
  background-color: #353336;
}

.bar-img{
  max-width: 100%;
  opacity: 0.9;
}

.bar-title{
  color: white;
  font-family: 'PT Serif', serif;
}

.info{
  cursor: pointer;
}

.menu{
  margin-left: 10px;
}

.menu-content{
  font-family: 'Quicksand', sans-serif;
  margin-top: -20px;
  /* margin-top: 30px; */
}

.search-results{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.bar-banner{
  position: relative;
}

#search{
  position: relative;
  border: 2px solid rgba(250, 250, 250, 0.3);
  border-radius: 6px;
  padding: 10px 25px;
  background-color: #353336;
  /* color: rgba(250, 250, 250, 0.6); */
  width: 95%;
  font-style: italic;
  cursor: pointer;
}

#search:focus{
  outline: none;
}

.fa-magnifying-glass{
  position: absolute;
  color: white;
  opacity: 0.7;
  z-index: 1;
  margin-top: 11px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 15px;
}

.fa-magnifying-glass:hover{
  opacity: 0.9;
}

input, select, textarea{
  color: white;
}


.info{
  position: absolute;
  color: black;
  background-color: white;
  padding: 10px 10px;
  width: 10px;
  border-radius: 5px;
  z-index: 1;
  top: 10px;
  left: 8px;
}

.table{
  color: #CDA97C;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
}

.table-num{
  font-size: 25px;
  /* margin-bottom: 15px; */
  vertical-align: sub;
  /* font-size:smaller; */
}

.cat-title{
  color: white;
}

.cat-subtitle{
  color: #CDA97C;
  margin-left: 2px;
}

.menu-footer{
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 14px;
}
